USE [Flyeats]
GO
/****** Object:  StoredProcedure [dbo].[SP_GetAllSelectionByBusinessId]    Script Date: 11/25/2023 12:48:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_GetAllSelectionByBusinessId]
(
	@BusinessId int
)
AS  
BEGIN  

   select * from Selections where BusinessId=@BusinessId;
END  

GO
